form(id="addGroup", method="POST", action="addGroup")
	lable(for='groupname') Group Name
	input#groupname(type='text', name='groupname')
	lable(for='description') description
	input#password(type='text', name='description')
	input(type="submit", value="Create this group")

h1!=message