form(id="addUser2Group", method="POST", action="addUser2Group")
	lable(for='username') User name
	input#username(type='text', name='username')
	lable(for='groupname') Group name
	input#groupname(type='text', name='groupname')
	input(type="submit", value="Add the user to this group")

h1!=message