form(id="addUserRight2Resource", method="POST", action="addUserRight2Resource")
	lable(for='id1') ID of the resource being granted
	input#id(type='text', name='id')
	lable(for='userLogin') Username
	input#userLogin(type='text', name='userLogin')
	lable(for='userRight') Right (N, R, C, U, D, A)
	input#userRight(type='text', name='userRight')
	input(type="submit", value="Grant the right")

h1!=message