form(id="signup", method="POST", action="/signup")
	lable(for='username') User Name
	input#username(type='text', name='username')
	lable(for='password') Password
	input#password(type='password', name='password')
	lable(for='affiliation') Affiliation
	input#affiliation(type='text', name='affiliation')
	lable(for='role') Role
	input#role(type='text', name='role', value='user', readonly)
	input(type="submit", value="Sign UP")

h1!=message